<% provide(:title, "RCM Application") %>
<div class="center jumbotron">
  <h1>RCM Application</h1>
  <h3>The Water Management Solution for Grand Ravine, Haiti</h3>
  <p>
  'RCM Application' was created with the hope of enabling the Grand Ravine slum administration to use water smartly. This was achieved with the help of an intelligent tool that can calculate the ideal usage of water based on past and predicted weather as well as water supply. Please sign up to view the most recent water reports.
  </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="home_pic">
<%= image_tag("water_haiti.jpg", :alt => "Poverty in Haiti") %>
</div>

