<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>What is Grand Ravine?</h1>

  <p>
  Grand Ravine is a hill-side slum of the Haitian capital, Port-au-Prince. The slum sits along steeply sloping hills and is a home to roughly 20000 people. Grand Ravine faces a severe lack of clean water problem, which is a direct result of ineffective and unsustainable existing infrastructure. The RCM Application tackles this problem by analyzing how to best use water resources for everyone's benefit.
  </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="home_pic">
<%= image_tag("grand_ravine.jpg", :alt => "Poverty in Haiti") %>
</div>

