<% provide(:title, "Support") %>
<div class="center jumbotron">
  <h1>Contact Us</h1>
  <h3>In case of interest, please contact: </h3>
  <p></p>
  <p>
  Sarah Leong: kl2751@columbia.edu 
  </p>
  <p>
  Stan Peceny: skp2140@columbia.edu
  </p>
  <p>
  Emma Etherington:ele2116@columbia.edu 
  </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="home_pic">
<%= image_tag("haiti_coast.jpg", :alt => "Poverty in Haiti") %>
</div>
