<footer class="footer">
  <small>
    Learn about <a href="https://borgenproject.org/top-five-facts-about-poverty-in-haiti/">Haiti</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Grand Ravine", grandravine_path %></li>
      <li><%= link_to "Support", support_path %></li>
      <li><%= link_to "Log in to RCM App", login_path %></li>
    </ul>
  </nav>
</footer>
